
/* about us section styles */


.body-container {
  background-color:rgb(220, 217, 217);
  background-size:cover;
  padding:10px;
}

.about-us-section-title {
  font-family:"Roboto";  
}

p {
  font-family:"Roboto";
}

.footer--section {
   background-color:#242329;
   padding:10px;
   
}

.contact-us-title {
  font-size:50px;
}