.flight-image {
  height:200px;
  width:200px;
  margin:10px;
}

.flights-available-container {
   background-image:url("../assets/flight-2.jpg");
   height:100vh;
   background-size:cover;
   background-position:center;
}

