/* 
      Fonts
      HEADINGS
      Mukta, Lato, sans-serif
      BODY
      Mukta, Lato, sans-serif
*/

* {
   box-sizing:border-box;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.navbar {
   background-color:black;
   height:10vh;
   background-size:cover;
   display:flex;
   align-items:center;
   padding:10px;  
   font-family:"Roboto";
}

.navbar-increase-height {
   height:500px;
}

.navbar--title {
   color:white;
   font-family:Mukta, Lato, sans-serif;   
   padding-left:20px;
   font-size:20px;
}

ul {
   color:white;
   display:flex;
   align-items:center;   
}

ul > li {
   list-style:none;
   margin:10px;
   font-family:Mukta, Lato, sans-serif;
}

.hamburger-icon {
   position:relative;
   top:10px;
   right:10px;
}