.hero-section-container {
  background-image:url("../assets/london2.jpg");
  height:100vh;
  background-size:cover;
  background-position:center;  
  font-family:Raleway, Arial, Helvetica, sans-serif;  
}

.hero-section-card {
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;      
}

.hero-card-size {
    width:30rem;
}

.flight-title:hover {
    background-color:#cccccc;
    color:black;
}

.flight-title {
    background-color:#f44336;
}

.hotel-title:hover {
   background-color:#cccccc;
    color:black;
}

.flight-section-button {
    background-color:#616161;
    color:#ffffff;
    padding:10px;
}

.discount {
    background-color:#ff5722;
    font-size:15px;
}