.hero--section-container {
   background-image:url("../src/assets/home.jpg");
   display:flex;
   background-size:cover;
   background-repeat: no-repeat;
   background-position:center;
}

.footer--section {
   background-color:grey;
   padding:20px;
}